[submodule "Image-Processor/image-processing-on-ZCU104"]
	path = Image-Processor/image-processing-on-ZCU104
	url = https://github.com/chuchu0512/image-processing-on-ZCU104
[submodule "ML-Acceleration/DeepPoint-V2-FPGA"]
	path = ML-Acceleration/DeepPoint-V2-FPGA
	url = https://github.com/salehjg/DeepPoint-V2-FPGA
[submodule "ML-Acceleration/finn-hlslib"]
	path = ML-Acceleration/finn-hlslib
	url = https://github.com/Xilinx/finn-hlslib
[submodule "ML-Acceleration/apfp"]
	path = ML-Acceleration/apfp
	url = https://github.com/spcl/apfp
[submodule "ML-Acceleration/GCN-Inference-Acceleration-HLS"]
	path = ML-Acceleration/GCN-Inference-Acceleration-HLS
	url = https://github.com/jasonlin316/GCN-Inference-Acceleration-HLS
