[submodule "Simple-Modeling-Designs/Simple-Modeling-Designs/Vitis-HLS-Introductory-Examples"]
	path = Simple-Modeling-Designs/Simple-Modeling-Designs/Vitis-HLS-Introductory-Examples
	url = https://github.com/Xilinx/Vitis-HLS-Introductory-Examples
[submodule "NoC"]
	path = NoC
	url = https://github.com/zhipengzhaocmu/HLS_NoC.git
